body{
   background-color: antiquewhite;
   font-size: 1.5em;
}
.shopContainer img{
   border-radius: 20px;
   width: 200px;
   padding: 0.2em;
   text-align: center;
}
.shopContainer{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   
}
#card div{
   margin-left: 1em;
}
#card{
   padding: 1em;
   width: 500px;
   align-items: center;
   display: flex;
   margin-inline: 2em;
   border-radius: 50%;
}
#input{
   margin-bottom: 1em;
   width: 60%;
}
h1{
   color: red;
}